header {
    background-color: var(--welcome-background-color);
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  

  
  nav ul li a {
    text-decoration: none;
    color: var(--accent-font-color);
    font-family: var(--font-family-intro);
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
  }

  .custom-button {
    background-color: #c26f84; /* Cambia el color de fondo del botón */
  }

  .input-search{
    font-family: 'Poppins', sans-serif;
  }