@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;900&family=Poppins&display=swap');

:root {
  --background-color: #fcfcfc;
  --welcome-background-color: #e2727f;
  --container-color: #F5EAED;
  --font-family-main: 'Geologica', sans-serif;
  --font-family-main-text: 'Poppins', sans-serif;
  --font-family-intro: 'Poppins', sans-serif;
  --font-family-body: 'Inter', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  border:0
}


.logo {
  max-width: 100%;
  height: auto;
}

.presentation{
  display:flex;
  background-color: var(--welcome-background-color);
  padding: 30px;
  align-items: center;
  font-family: var(--font-family-main-text);
}
main {
  display: flex;
  background-color: #fff;
  padding: 20px;
  gap: 15px;
  font-family: var(--font-family-main-text);
}

.filters{
  background-color: #F5EAED;
  padding:10px;
  border-radius: 2vh;
}

@media (max-width: 768px) {
  .logo {
    max-width: 80%; /* Tamaño deseado para pantallas más pequeñas */
  }
}
/* Media query para pantallas más pequeñas*/
@media (max-width: 768px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
  p{
    font-size:8px;
  }
  .presentation{
    font-size: small;
  }
}

